{% extends '../list.html' %}
{% load static %}

{% block view_header_back %}
    {% url 'dashboard:service-detail' pk=service.pk as btn_target %}
    {% include 'dashboard/_widgets/_button_return.html' %}
{% endblock view_header_back %}

{% block view_header_title %}
    Nuevo Atributo
{% endblock view_header_title %}

{% block view_breadcrumb_items %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'dashboard:service-list' %}" class="breadcrumb-link">
        Atributos
    </a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'dashboard:service-detail' pk=service.pk %}" class="breadcrumb-link">
        {{ service.title }}
    </a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'dashboard:service-detail' pk=service.pk %}" class="breadcrumb-link">
        Atributos
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    Nueva
</li>
{% endblock view_breadcrumb_items %}

{% block view_content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card prodabre-card">
            <div class="card-body">
                {% with form_name="form" multipart=True%}
                    {% include 'dashboard/_widgets/_form_basic.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock view_content %}
