{% extends "base.html" %}
{% load static %}

{% block navbar %}
  {% include 'snippets/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <!-- Cuerpo -->
  <div class="container">
    <div class="row">
      <div class="card-columns">
      {% for post in posts   %}
        {% for image_ in post.images.all  %}
          {% if forloop.first %}
            <div class="card">
              <a href="{% url 'posts:post-detail' the_slug=post.slug %}"><img class="card-img" src="{{image_.image.url}}" alt="Card image"></a>
            </div>
          {% endif  %}
        {% endfor %}
      {% endfor %}
      </div>
    </div>
  </div>
  <!-- /Cuerpo -->

{% endblock content %}
