{% extends "base.html" %}
{% load static %}
{% block navbar %}
  {% include 'snippets/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <!-- Cuerpo -->
  {% for service in services  %}
    {%  if not forloop.counter|divisibleby:"2" %}
      <div>
        <div class="container ft-contserv">
          <div class="row align-items-center">
            <div id="ft-oser1" class="col-lg-1"></div>
            <div id="ft-oser2" class="col-lg-5">
              {% if service.image %}
              <img class="img-fluid mb-4 mb-lg-0" src="{{service.image.url}}">
              {% endif %}
            </div>
            <div id="ft-oser3" class="col-lg-4">
              {% if service.icon %}
              <h1 class="ft-tserv"><img src="{{service.icon.url}}" class="ft-icon"></img>{{service.title}}</h1>
              {% endif %}
              <p class="ft-pserv">{{service.content}}</p>
              <hr>
              <p class="ft-pserv tags text-uppercase">
                {% if service.attributes.all %}
                  {% for attribute in service.attributes.all  %}
                    {{attribute}} {% if not forloop.last %}  /  {% endif %}
                  {% endfor %}
                {% endif %}
              </p>
              <hr><br>
              <a class="ft-linkbt" href="{% url 'core:contact' %}">Solicitar más información</a>
            </div>
            <div id="ft-oser4" class="col-lg-1"></div>
            <div id="ft-oser5" class="col-lg-1"></div>
          </div>
        </div>
      </div>
    {% else %}
      <div style="background-color: #FAFAFA">
        <div class="container ft-contserv">
          <div class="row align-items-center">
            <div id="ft-oser1" class="col-lg-1"></div>
            <div id="ft-oser3" class="col-lg-4">
              <h1 class="ft-tserv">
              {% if service.icon %}
              <img src="{{service.icon.url}}" class="ft-icon"></img> {{service.title}}
              {% endif %}
              </h1>
              <p class="ft-pserv">{{service.content}}</p><br>
              <a class="ft-linkbt" href="{% url 'core:contact' %}">Solicitar más información</a>
            </div>
            <div id="ft-oser4" class="col-lg-1"></div>
            <div id="ft-oser2" class="col-lg-5">
              {% if service.image %}
              <img class="img-fluid mb-4 mb-lg-0" src="{{service.image.url}}">
              {% endif %}
            </div>
            <div id="ft-oser5" class="col-lg-1"></div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% comment %} <div>
    <div class="container ft-contserv">
      <div class="row align-items-center">
        <div id="ft-oser1" class="col-lg-1"></div>
        <div id="ft-oser2" class="col-lg-5">
          <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/s01.png' %}">
        </div>
        <div id="ft-oser3" class="col-lg-4">
          <h1 class="ft-tserv"><img src="{% static 'img/icons01.svg' %}" class="ft-icon"></img>Arquitectura</h1>
          <p class="ft-pserv">Desarrollamos proyectos residenciales y comerciales de manera integral, dedicados en cada detalle del proceso creativo desde el anteproyecto hasta la propuesta de interiorismo.</p>
          <hr>
          <p class="ft-pserv tags text-uppercase">Casas de Ciudad / Casas de Playa / Casas de Campo / Restaurantes / Bares / Hoteles / Museos</p>
          <hr><br>
          <a class="ft-linkbt" href="contacto.html">Solicitar más información</a>
        </div>
        <div id="ft-oser4" class="col-lg-1"></div>
        <div id="ft-oser5" class="col-lg-1"></div>
      </div>
    </div>
  </div> {% endcomment %}

  {% comment %} <div style="background-color: #FAFAFA">
    <div class="container ft-contserv">
      <div class="row align-items-center">
        <div id="ft-oser1" class="col-lg-1"></div>
        <div id="ft-oser3" class="col-lg-4">
          <h1 class="ft-tserv"><img src="{% static 'img/icons02.svg' %}" class="ft-icon"></img>Proyectos</h1>
          <p class="ft-pserv">Desarrollo de expedientes para conjuntos residenciales (multifamiliar o unifamiliar) y proyectos comerciales, compatibilizando todas las especialidades.</p><br>
          <a class="ft-linkbt" href="contacto.html">Solicitar más información</a>
        </div>
        <div id="ft-oser4" class="col-lg-1"></div>
        <div id="ft-oser2" class="col-lg-5">
          <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/s02.png' %}">
        </div>
        <div id="ft-oser5" class="col-lg-1"></div>
      </div>
    </div>
  </div>

  <div>
    <div class="container ft-contserv">
      <div class="row align-items-center">
        <div id="ft-oser1" class="col-lg-1"></div>
        <div id="ft-oser2" class="col-lg-5">
          <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/s03.png' %}">
        </div>
        <div id="ft-oser3" class="col-lg-4">
          <h1 class="ft-tserv"><img src="{% static 'img/icons03.svg' %}" class="ft-icon"></img>Interiorismo </h1>
          <p class="ft-pserv">Optimizando las condiciones del espacio desde una remodelación o la  implementación de un ambiente según las necesidades de nuestros clientes, con las últimas tendencias en diseño interior y decoración.</p>
          <hr>
          <p class="ft-pserv tags text-uppercase">Residencial / Comercial / Diseño de Muebles / Iluminación / Decoración</p>
          <hr><br>
          <a class="ft-linkbt" href="contacto.html">Solicitar más información</a>
        </div>
        <div id="ft-oser4" class="col-lg-1"></div>
        <div id="ft-oser5" class="col-lg-1"></div>
      </div>
    </div>
  </div>

  <div style="background-color: #FAFAFA">
    <div class="container ft-contserv">
      <div class="row align-items-center">
        <div id="ft-oser1" class="col-lg-1"></div>
        <div id="ft-oser3" class="col-lg-4">
          <h1 class="ft-tserv"><img src="{% static 'img/icons04.svg' %}" class="ft-icon"></img>Asesoría y trámites municipales</h1>
          <p class="ft-pserv">Desarrollo de expedientes para conjuntos residenciales (multifamiliar o unifamiliar) y proyectos comerciales, compatibilizando todas las especialidades.</p><br>
          <a class="ft-linkbt" href="contacto.html">Solicitar más información</a>
        </div>
        <div id="ft-oser4" class="col-lg-1"></div>
        <div id="ft-oser2" class="col-lg-5">
          <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/s04.png' %}">
        </div>
        <div id="ft-oser5" class="col-lg-1"></div>
      </div>
    </div>
  </div> {% endcomment %}
  <!-- /Cuerpo -->

{% endblock content %}
