{% extends './add.html' %}
{% load static %}

{% block view_header_title %}
    Cambiar contraseña: {{ object.first_name }}
{% endblock view_header_title %}

{% block view_breadcrumb_items %}
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard:staff-list' %}" class="breadcrumb-link">
            Personal
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Editar
    </li>

{% endblock view_breadcrumb_items %}

{% block view_content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card prodabre-card">
            <div class="card-body">
                {% with form_name="form" %}
                    {% include 'dashboard/_widgets/_form_basic.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock view_content %}
