{% extends 'storefront/base.html' %}
{% load static %}

{% block vendors_css %}
<link rel="stylesheet" href="{% static 'assets/vendorsito/bootstrap/css/bootstrap.min.css' %}">
{% endblock vendors_css %}

{% block core_css %}
  <link rel="stylesheet" href="{% static 'administrador/css/style.css' %}">
  <script src="https://kit.fontawesome.com/f8e43163b5.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inria+Serif:400,700|Raleway:300,400&display=swap" rel="stylesheet">
{% endblock core_css %}

{% block custom_css %}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center">
            <a href="{% url 'core:index' %}">
                <img class="logo-img" src="{% static 'img/brandb.png' %}" alt="White House" style="width:60%">
            </a>
        </div>
        <div class="card-body">
            {% include "storefront/auth/_forms/login.html" %}
        </div>
        <div class="card-footer p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                Si olvido su contraseña pongase en contacto con el administrador.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
