<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orden completada</title>
</head>
<body>
    <div class="">
        <h4>Hola tu pedido ha sido completado exitosamente, muchas gracias.</h4>
        <p>Recuerda puedes visitar la pagina para ver tus pedidos</p>
        {% comment %} <a href="{{next_url}}" target="_blank">Mis pedidos</a> {% endcomment %}
    </div>
</body>
</html>
